@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fancy-scrollbar::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    width: 3px;
    height: 3px;
    border-radius: 999px;
  }
  .fancy-scrollbar::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0.07);
  }
  .fancy-scrollbar::-webkit-scrollbar-thumb {
    background-color: #421ab0;
    border-radius: 999px;
  }
  .bg-gradient-primary {
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
  }

  .bg-dark-mode-gradient {
    @apply bg-gradient-to-l from-[#141E30] to-[#243B55];
  }

  .button-gradient-bg {
    @apply bg-gradient-to-r from-[#f2709c] to-[#ff9472];
  }

  .bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}
